
@import "reset.less";
@import "file-types.less";
@import "progress.less";

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('/static/fonts/opensans-light.wof') format('woff');
}

/********************* Globals ********************/

@section-margin: 40px;

body{
    //font-family: Helvetica, "Trebuchet MS", sans-serif;

    font-family: 'Open Sans Light', sans-serif;
    font-size: 16px;
}

.fixed-width{
    max-width: 800px;
    margin: 0px auto;
}

.big-font{
    font-size: 400%;
}

.medium-font{
    font-size: 150%;
}

.underline{
    text-decoration: underline;
}
/********************* Header ********************/

#header-title{
    .big-font;

    text-align: center;
    margin: @section-margin auto 20px auto;
}

#header-sub-title{
    text-align: center;
    margin-bottom: 60px;
    .medium-font;
    line-height: 1.4em;
}

#holder {
    width: 300px;
    height: 300px;
    border: 5px rgba(0,0,0,0.2) dashed;
    margin-top: @section-margin;
    border-radius: 20px;
    text-align: center;
}

#holder > .file-type{
    margin-top: @section-margin;
}

#holder-title{
    text-align: center;
    margin: 20px auto;
    .medium-font;
}

.hover{
    border: 5px #8080ff dashed;
}

/********************* Status **********************/

.status-messages{
    .medium-font;
    margin: 10px auto;
}

#processing-message{
    .status-messages;
}

#uploading-message{
    .status-messages;
}

#file-upload-failed{
    .status-messages;
}

#status-panel{
    margin: @section-margin auto 0px auto;
    text-align: center;
}

#filename{
    .medium-font;
    margin-bottom: 10px;
}

/********************* Links ***********************/
#link-container-header{
    .medium-font;
    text-align: center;
    margin-bottom: 20px;
}

@padding: 20px;

.link-container{
    margin-top: @section-margin;
    text-align: center;
    margin-bottom: 100px;
}

.link-section-container{
    background: rgba(0,0,0,0.1);
    margin: 0px 10px;
    position: relative;
}

.link-section-container > .title{
    .medium-font;
    top: @padding;
    width: 100%;
    position: absolute;
}

.link-section-container > .content{
    margin-top: 50px;
    padding: 20px @padding;
}

.link-section-container > .footer{
    display: none;
    padding-bottom: @padding;
}

.download-link-container{
    display: inline-block;
    vertical-align: top;
}

#free-download-links{
    .download-link-container;

}

#paid-download-links{
    .download-link-container;

}

.not-paid #paid-download-links .download-link{
}

.download-link{
    margin: 0px 5px;
    text-decoration: none;

    pointer-events: none;
}

.link-container{
}

#link-container-footer{
    display: none;
    .medium-font;
    margin-top: 20px;
}

#never-pay-twice{
    margin-top: 10px;
}

/* Conditional */

.show_file #free-download-links.link-section-container{
    background: transparent;
}

.show_file #free-download-links .download-link{
    pointer-events: auto;
}

.show_file #free-download-links .title{
    display: none;
}

.show_file #free-download-links .footer{
    display: block;
}

.show_file #paid-download-links .footer{
    display: block;
}

.paid .link-section-container{
    margin: 0px;
}

.paid #free-download-links .footer{
    display: none;
}

.paid #paid-download-links .title{
    display: none;
}

.paid #paid-download-links .footer{
    display: none;
}

.paid .content{
    margin-top: 0px;
    padding: 0px;
}

.paid #paid-download-links .download-link{
    pointer-events: auto;
}

.paid #paid-download-links.link-section-container{
    background: transparent;
}

.paid #link-container-footer{
    display: block;
}



