
@import "reset.less";
@import "file-types.less";
@import "progress.less";

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('/static/fonts/opensans-light.wof') format('woff');
}

/********************* Globals ********************/

body{
    //font-family: Helvetica, "Trebuchet MS", sans-serif;

    font-family: 'Open Sans Light', sans-serif;
    font-size: 16px;
}

.fixed-width{
    max-width: 800px;
    margin: 0px auto;
}

.big-font{
    font-size: 400%;
}

.medium-font{
    font-size: 150%;
}
/********************* Header ********************/

#header-title{
    .big-font;

    text-align: center;
    margin: 40px auto 20px auto;
}

#header-sub-title{
    text-align: center;
    margin-bottom: 60px;
    .medium-font;
    line-height: 1.4em;
}

#holder {
    width: 300px;
    height: 300px;
    border: 5px rgba(0,0,0,0.2) dashed;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
}

#holder-title{
    text-align: center;
    margin: 20px auto;
    .medium-font;
    color: #b0b0b0;
}

.hover{
    border: 5px #8080ff dashed;
}

/********************* Status **********************/

.status-messages{
    .medium-font;
    margin: 10px auto;
}

#processing-message{
    .status-messages;
}

#uploading-message{
    .status-messages;
}

#file-upload-failed{
    .status-messages;
}

#status-panel{
    margin: 20px auto;
    text-align: center;
}

/********************* Links ***********************/

.download-link-container{
    padding: 20px 20px;
    display: inline-block;
}

#free-download-links{
    .download-link-container;

}

#paid-download-links{
    .download-link-container;

}

.not-paid{
    background: rgba(0,0,0,0.1);
}

#not-paid-title{
    .medium-font;
    margin: 5px 0px 20px 0px;
}

.not-paid .download-link{
    pointer-events: none;
}

.download-link{
    margin: 0px 5px;
    text-decoration: none;
}

.link-container{
    text-align: center;
    margin-bottom: 100px;
}