/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.file-type {
  display: inline-block;
  -webkit-perspective: 300;
  width: 4em;
  height: 6em;
}
.file-type-spin div {
  transition-duration: 0.0s;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.file-type-spin:hover div {
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  transform: rotateY(360deg);
  transition-duration: 0.8s;
}
.file-type-jump div {
  transition-duration: 0.2s;
}
.file-type-jump:hover div {
  -webkit-transform: rotateX(-18deg) translateY(-13px) translateZ(40px);
  -moz-transform: rotateX(-18deg) translateY(-13px) translateZ(40px);
  -o-transform: rotateX(-18deg) translateY(-13px) translateZ(40px);
  -ms-transform: rotateX(-18deg) translateY(-13px) translateZ(40px);
  transform: rotateX(-18deg) translateY(-13px) translateZ(40px);
}
.file-type-spinny div {
  transform-style: preserve-3d;
  animation: spinny linear 2s infinite;
  -webkit-animation: spinny linear 2s infinite;
}
/* Standard syntax */
@keyframes spinny {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  25% {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  50% {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  75% {
    -webkit-transform: rotateY(-270deg);
    -moz-transform: rotateY(-270deg);
    -o-transform: rotateY(-270deg);
    -ms-transform: rotateY(-270deg);
    transform: rotateY(-270deg);
  }
  100% {
    -webkit-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
@-webkit-keyframes spinny {
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  25% {
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(-90deg);
    -o-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  50% {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  75% {
    -webkit-transform: rotateY(-270deg);
    -moz-transform: rotateY(-270deg);
    -o-transform: rotateY(-270deg);
    -ms-transform: rotateY(-270deg);
    transform: rotateY(-270deg);
  }
  100% {
    -webkit-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
@-webkit-keyframes spinny2 {
  0% {
    -webkit-transform: rotateY(0deg) translateZ(0px);
    -moz-transform: rotateY(0deg) translateZ(0px);
    -o-transform: rotateY(0deg) translateZ(0px);
    -ms-transform: rotateY(0deg) translateZ(0px);
    transform: rotateY(0deg) translateZ(0px);
    left: 0px;
  }
  25% {
    -webkit-transform: rotateY(-90deg) translateZ(10px);
    -moz-transform: rotateY(-90deg) translateZ(10px);
    -o-transform: rotateY(-90deg) translateZ(10px);
    -ms-transform: rotateY(-90deg) translateZ(10px);
    transform: rotateY(-90deg) translateZ(10px);
    left: -20px;
  }
  50% {
    -webkit-transform: rotateY(-180deg) translateZ(20px);
    -moz-transform: rotateY(-180deg) translateZ(20px);
    -o-transform: rotateY(-180deg) translateZ(20px);
    -ms-transform: rotateY(-180deg) translateZ(20px);
    transform: rotateY(-180deg) translateZ(20px);
    left: 0px;
  }
  75% {
    -webkit-transform: rotateY(-270deg) translateZ(10px);
    -moz-transform: rotateY(-270deg) translateZ(10px);
    -o-transform: rotateY(-270deg) translateZ(10px);
    -ms-transform: rotateY(-270deg) translateZ(10px);
    transform: rotateY(-270deg) translateZ(10px);
    left: 20px;
  }
  100% {
    -webkit-transform: rotateY(-360deg) translateZ(0px);
    -moz-transform: rotateY(-360deg) translateZ(0px);
    -o-transform: rotateY(-360deg) translateZ(0px);
    -ms-transform: rotateY(-360deg) translateZ(0px);
    transform: rotateY(-360deg) translateZ(0px);
    left: 0px;
  }
}
.file-type > div {
  width: 100%;
  text-align: center;
  background: #f0f0f0;
  position: relative;
  height: 4em;
  top: 2em;
  cursor: pointer;
  display: inline-block;
  -webkit-transform: rotateX(0deg) translateY(0px);
  -moz-transform: rotateX(0deg) translateY(0px);
  -o-transform: rotateX(0deg) translateY(0px);
  -ms-transform: rotateX(0deg) translateY(0px);
  transform: rotateX(0deg) translateY(0px);
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}
.file-type > div:before {
  content: "";
  position: absolute;
  top: -2em;
  right: 0;
  border-width: 0 2em 2em 0;
  border-style: solid;
  border-color: white transparent;
}
.file-type > div:after {
  content: "";
  position: absolute;
  top: -2em;
  left: 0;
  right: 2em;
  border-width: 1em;
  border-style: solid;
  border-color: #f0f0f0;
}
.file-type > div > span {
  position: absolute;
  top: 0em;
  right: 0;
  border-width: 2em 0 0 2em;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.05) transparent;
}
.file-type > div > p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 1.4em;
  color: white;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.big {
  width: 8em;
  height: 12em;
}
.big > div {
  height: 8em;
  top: 4em;
}
.big > div:before {
  top: -4em;
  border-width: 0 4em 4em 0;
}
.big > div:after {
  top: -4em;
  right: 4em;
  border-width: 2em;
}
.big > div > span {
  border-width: 4em 0 0 4em;
}
.big > div > p {
  font-size: 2.5em;
  margin-top: 1.4em;
}
.green > div {
  background: #37C49C;
}
.green > div:before {
  border-color: #4ECEA6 transparent;
}
.green > div:after {
  border-color: #37C49C;
}
.red > div {
  background: #EC5757;
}
.red > div:before {
  border-color: #F47878 transparent;
}
.red > div:after {
  border-color: #EC5757;
}
.blue > div {
  background: #47B8F7;
}
.blue > div:before {
  border-color: #6BD0FB transparent;
}
.blue > div:after {
  border-color: #47B8F7;
}
.yellow > div {
  background: #FFC35A;
}
.yellow > div:before {
  border-color: #FFCE87 transparent;
}
.yellow > div:after {
  border-color: #FFC35A;
}
.orange > div {
  background: #F7974A;
}
.orange > div:before {
  border-color: #FBAB75 transparent;
}
.orange > div:after {
  border-color: #F7974A;
}
.pink > div {
  background: #F76081;
}
.pink > div:before {
  border-color: #F77BA1 transparent;
}
.pink > div:after {
  border-color: #F76081;
}
.brown > div {
  background: #998B79;
}
.brown > div:before {
  border-color: #A2968D transparent;
}
.brown > div:after {
  border-color: #998B79;
}
.progress {
  height: 2px;
  background: rgba(0, 0, 0, 0.05);
  margin: 10px auto;
  width: 300px;
}
.progress > span {
  display: block;
  height: 100%;
  background: #4679BD;
}
.indefinite > span {
  position: relative;
  width: 10% !important;
  -webkit-animation: myfirst linear 2s infinite;
  animation: myfirst linear 2s infinite;
}
/* Standard syntax */
@keyframes myfirst {
  0% {
    left: 0%;
  }
  50% {
    left: 90%;
  }
  100% {
    left: 0%;
  }
}
@-webkit-keyframes myfirst {
  0% {
    left: 0%;
  }
  50% {
    left: 90%;
  }
  100% {
    left: 0%;
  }
}
@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('/static/fonts/opensans-light.wof') format('woff');
}
/********************* Globals ********************/
body {
  font-family: 'Open Sans Light', sans-serif;
  font-size: 16px;
}
.fixed-width {
  max-width: 800px;
  margin: 0px auto;
}
.big-font {
  font-size: 400%;
}
.medium-font {
  font-size: 150%;
}
.underline {
  text-decoration: underline;
}
h3 {
  font-size: 140%;
  line-height: 1.8em;
}
/********************* Header ********************/
#header-links {
  margin: 10px;
  text-align: center;
}
.header-link {
  margin: 10px 20px;
  color: #000000;
  text-decoration: none;
  display: inline-block;
}
.header-link:hover {
  text-decoration: underline;
}
#header-title {
  font-size: 400%;
  text-align: center;
  margin: 20px auto 20px auto;
}
#header-sub-title {
  text-align: center;
  margin-bottom: 60px;
  font-size: 150%;
  line-height: 1.4em;
}
#holder {
  width: 300px;
  height: 300px;
  border: 5px rgba(0, 0, 0, 0.2) dashed;
  margin-top: 60px;
  border-radius: 20px;
  text-align: center;
}
.holder-hover {
  border: 5px rgba(0, 0, 0, 0.3) dashed !important;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px inset;
}
#holder > .file-type {
  margin-top: 40px;
}
#holder-title {
  text-align: center;
  margin: 20px auto;
  font-size: 150%;
}
#file-upload-container {
  margin-top: 10px;
  margin-bottom: 5px;
}
#file-upload-container > div {
  font-size: 150%;
}
.hover {
  border: 5px #8080ff dashed;
}
/********************* Status **********************/
.status-messages {
  font-size: 150%;
}
#processing-message {
  font-size: 150%;
}
#processing-message > .progress {
  width: 260px;
}
#uploading-message {
  font-size: 150%;
}
#file-upload-failed {
  font-size: 150%;
  display: inline-block;
  background: #fffccf;
  padding: 20px;
}
#status-panel {
  margin: 60px auto 0px auto;
  text-align: center;
}
#file-message {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 10px;
}
#file-message-file {
  float: left;
}
#file-message-content {
  float: right;
  margin-left: 20px;
  margin-top: 25px;
}
#filename {
  font-size: 150%;
  margin-bottom: 10px;
}
/********************* Links ***********************/
#link-container-header {
  font-size: 150%;
  text-align: center;
  margin-bottom: 20px;
}
#paid-title {
  display: none;
  font-size: 150%;
  text-align: center;
  margin-bottom: 20px;
}
.link-container {
  margin-top: 60px;
  text-align: center;
  margin-bottom: 100px;
}
.link-section-container {
  background: rgba(0, 0, 0, 0.07);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 0px 10px;
  position: relative;
}
.link-section-container > .title {
  font-size: 150%;
  top: 20px;
  width: 100%;
  position: absolute;
}
.link-section-container > .content {
  margin-top: 50px;
  padding: 20px 20px;
}
.link-section-container > .footer {
  display: none;
  padding-bottom: 20px;
}
.download-link-container {
  display: inline-block;
  vertical-align: top;
}
#free-download-links {
  display: inline-block;
  vertical-align: top;
}
#paid-download-links {
  display: inline-block;
  vertical-align: top;
}
.download-link {
  margin: 0px 5px;
  text-decoration: none;
  pointer-events: none;
}
.disable-link {
  pointer-events: none !important;
}
#link-container-footer {
  display: none;
  margin-top: 20px;
}
#never-pay-twice {
  margin-top: 10px;
}
.file-progress {
  font-size: 80%;
  top: 10px;
  position: relative;
}
/* Conditional */
.show_file #free-download-links.link-section-container {
  background: transparent;
  border: none;
}
.show_file #free-download-links .download-link {
  pointer-events: auto;
}
.show_file #free-download-links .title {
  display: none;
}
.show_file #free-download-links .footer {
  display: block;
}
.show_file #paid-download-links .footer {
  display: block;
}
.show_file #link-container-header {
  display: none;
}
.paid .link-section-container {
  margin: 0px;
}
.paid #free-download-links .footer {
  display: none;
}
.paid #paid-download-links .title {
  display: none;
}
.paid #paid-download-links .footer {
  display: none;
}
.paid .content {
  margin-top: 0px;
  padding: 0px;
}
.paid #paid-download-links .download-link {
  pointer-events: auto;
}
.paid #paid-download-links.link-section-container {
  background: transparent;
  border: none;
}
.paid #link-container-footer {
  display: block;
}
.paid #paid-title {
  display: block;
}
