<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ICS Converter</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
    <link rel="shortcut icon" href="/static/images/32x32.png">

</head>
<body>
    <div class="fixed-width">
        <div id="header-title">
        ICS File Converter
        </div>
        <!--<div id="header-sub-title">-->
            <!--<div>-->
            <!--Get all these other file formats for just $2-->
            <!--</div>-->
            <!--<div>-->
            <!--XLSX, HTML, XML, PDF, JSON, TXT, TSV-->
            <!--</div>-->
        <!--</div>-->
    </div>
    <div class="fixed-width" id="holder">
        <div class="file-type red big">
            <div>
                <span></span>
                <p>.ICS</p>
            </div>
        </div>
        <div id="holder-title">Drop file here</div>
    </div>

    <div class="fixed-width" id="status-panel" {% if not show_file %}style="display: none;"{% endif %}>
        <div id="uploading-message" {% if show_file %}style="display: none;"{% endif %}>Uploading <span>{{ full_filename }}</span>
            <div class='progress'>
                <span style="width: 0%;"></span>
            </div>
        </div>
        <div id="processing-message" {% if show_file %}style="display: none;"{% endif %}>Processing <span>{{ full_filename }}</span>
            <div class='progress indefinite'>
                <span></span>
            </div>
        </div>
        <div id="file-upload-failed" style="display: none;">
            <p>Opps!</p><p><br/><span id="file-upload-failed-message">There was a problem processing your file.</span><br/>Try another?</p>
        </div>
        <div id="file-message">
            <div id="filename">{{ full_filename }}</div>
            <div id="event-count" {% if not event_count %}style="display: none;"{% endif %}>{{ event_count }} Events</div>
            <div id="todo-count" {% if not todo_count %}style="display: none;"{% endif %}>{{ todo_count }} Todos</div>
        </div>
    </div>

    <div class="fixed-width link-container {% if paid %}paid{% endif %} {% if show_file %}show_file{% endif %}">
        <div id="link-container-header">Convert your ICS files to any of these formats.</div>
        <div id="paid-title">You Rock! Here's your files.</div>
        <div class="link-section-container" id="free-download-links">
            <div class="title">Free</div>
            <div class="content">
                <a class="download-link" href="\download\{{ key }}\{{ filename }}.csv">
                    <div class="file-type blue">
                        <div>
                            <span></span>
                            <p>CSV</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="footer">Click to<br/>download</div>
        </div>
        <div class="link-section-container" id="paid-download-links">
            <div class="title" id="not-paid-title">All these file types for <span class="underline">just $2</span>!</div>
            <div class="content">
                <a class="download-link" href="\download\{{ key }}\{{ filename }}.xlsx">
                    <div class="file-type green">
                        <div>
                            <span></span>
                            <p>XLSX</p>
                        </div>
                    </div>
                </a>
                <a class="download-link" href="\download\{{ key }}\{{ filename }}.html">
                    <div class="file-type pink">
                        <div>
                            <span></span>
                            <p>HTML</p>
                        </div>
                    </div>
                </a>
                <a class="download-link" href="\download\{{ key }}\{{ filename }}.xml">
                    <div class="file-type yellow">
                        <div>
                            <span></span>
                            <p>XML</p>
                        </div>
                    </div>
                </a>
                <a class="download-link" href="\download\{{ key }}\{{ filename }}.pdf">
                    <div class="file-type red">
                        <div>
                            <span></span>
                            <p>PDF</p>
                        </div>
                    </div>
                </a>
                <a class="download-link" href="\download\{{ key }}\{{ filename }}.json">
                    <div class="file-type orange">
                        <div>
                            <span></span>
                            <p>JSON</p>
                        </div>
                    </div>
                </a>
                <a class="download-link" href="\download\{{ key }}\{{ filename }}.txt">
                    <div class="file-type brown">
                        <div>
                            <span></span>
                            <p>TXT</p>
                        </div>
                    </div>
                </a>
                <a class="download-link" href="\download\{{ key }}\{{ filename }}.tsv">
                    <div class="file-type green">
                        <div>
                            <span></span>
                            <p>TSV</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="footer">
                <form action="/pay" method="POST">
                    <input type="hidden" name="key" value=""/>
                    <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_SPjp98jtIuyUn3t6DJtvZSc5lBeqr"
                        data-amount="200"
                        data-label="Pay Now"
                        data-name="ICS Convert"
                        data-description="File conversion ($2.00)"
                        data-image="/static/images/128x128.png">
                    </script>
                </form>
                <div id="never-pay-twice">* Never pay twice for the same .ics file.</div>
            </div>
        </div>
        <div id="link-container-footer">Click to download</div>
    </div>

    <script src="/static/javascript/tp/jquery-2.1.1.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/tp/underscore-min.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/tp/backbone.js" language="javascript" type="text/javascript"></script>

    <script type="text/javascript" src="/static/javascript/main.js"></script>
</body>
</html>