<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
</head>
<body>
    <div class="fixed-width">CalCon</div>
    <div class="fixed-width" id="holder"></div>

    <div class="fixed-width" id="status-panel" {% if not show_file %}style="display: none;"{% endif %}">
        <div id="uploading-message">Uploading <span>{% filename %}</span></div>
        <div id="processing-message">Processing <span>{% filename %}</span></div>
        <div id="file-message">
            <div id="filename">{%= filename %}</div>
            <div id="event-count">53 Events</div>
            <div id="todo-count">10 Todos</div>
        </div>
    </div>

    <div class="fixed-width link-container" {% if not show_file %}style="display: none;"{% endif %}>
        <a class="download-link" href="unset.csv">
            <div class="file-type blue">
                <div>
                    <span></span>
                    <p>CSV</p>
                </div>
            </div>
        </a>
        <a class="download-link" href="unset.txt">
            <div class="file-type red">
                <div>
                    <span></span>
                    <p>TXT</p>
                </div>
            </div>
        </a>
        <form action="/pay" method="POST">
            <input type="hidden" name="key" value=""/>
            <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_SPjp98jtIuyUn3t6DJtvZSc5lBeqr"
                data-amount="200"
                data-label="Pay with Card"
                data-name="ICS Convert"
                data-description="File conversion ($2.00)"
                data-image="/128x128.png">
            </script>
        </form>
    </div>

    <script src="/static/javascript/tp/jquery-2.1.1.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/tp/underscore-min.js" language="javascript" type="text/javascript"></script>
    <script src="/static/javascript/tp/backbone.js" language="javascript" type="text/javascript"></script>

    <script type="text/javascript" src="/static/javascript/main.js"></script>
</body>
</html>